<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TestTask.db.mappers.EmployeeMapper">
    <select
            id="getEmployeeById"
    parameterType="java.lang.Integer" resultType="TestTask.entities.Employee">
    select * from task.employee where id = #{id}
    </select>

</mapper>